<dl class="row">
    <% Object.keys(lessons).sort().forEach( function(date) { %>
        <dt class="col-sm-12">
            <%= formatDateShort(new Date(date)) %>
        </dt>
        <dd class="col-sm-12">
            <ul>
                <% lessons[date].forEach(lesson => { %>
                <li>
                    <a href="<%= makeUrl(['groups', group.id, 'lessons', lesson.id]) %>">
                        <%- [lesson.Subject.name, lesson.topic].filter(Boolean).join('&nbsp;&ndash; ') %>
                    </a>
                    <% let remark = ''
                        const flags = []
                        if (lesson.is_distant) {
                            flags.push('дистанционный')
                        }
                        if (lesson.is_control) {
                            flags.push('контрольный')
                        }
                        if (flags.length) {
                            remark = '(' + flags.join(', ') + ')';
                        }
                    %>
                    <%=remark%>
                </li>
                <% }); %>
            </ul>
        </dd>
    <% }); %>
</dl>
<div class="m-4 text-center">
    <a href="<%= makeUrl(['groups', group.id, 'add_lesson']) %>" class="btn btn-success">Добавить урок</a>
</div>
