<p>
    <%= formatDateShort(new Date(lesson.date)) %>
    <% if(lesson.time) { %>
        <%= lesson.time %>
    <% } %>
</p>


<ul id="menuTabs" class="nav nav-tabs">
    <li class="nav-item" id="marks">
        <a class="nav-link active" href="#">Отметки</a>
    </li>
    <li class="nav-item" id="summary">
        <a class="nav-link" href="#">Сводка</a>
    </li>
    <li class="nav-item" id="task">
        <a class="nav-link" href="#">Задание</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="content_marks">

        <% skillsets.forEach( function(item) { const is_absense_skill = item.skill_id === absence_skill_id; %>
            <div class="d-block d-md-inline-block my-4 mx-3 text-center">
                <a href="<%=makeUrl(['groups', group.id, 'lessons', lesson.id, 'skill', item.skill_id])%>"
                   class="btn <%=is_absense_skill ? 'btn-light border-dark' : 'btn-primary'%>">
                    <%= item.Skill.name %>
                </a>
            </div>
        <% }); %>

    </div>
    <div class="tab-pane" id="content_summary">
        <div class="table-responsive mt-4">
            <table class="table table-striped table-bordered table-hover table-sm">
                <thead>
                <tr>
                    <th scope="col" class="align-middle">Ученики</th>
                    <% used_skills.forEach( function(item) { %>
                        <th scope="col" class="text-center skill-title">
                            <a href="<%=makeUrl(['groups', group.id, 'lessons', lesson.id, 'skill', item.skill_id])%>">
                                <%= item.Skill.name %>
                            </a>
                        </th>
                    <% }); %>
                </tr>
                </thead>
                <tbody>
                <% students.forEach( function(student) { %>
                    <tr>
                        <th scope="row" class="align-middle">
                            <%= student.surname %>
                            <%= student.name %>
                        </th>
                        <% used_skills.forEach( function(item) {
                            const skills = getMarksForSkill(item.skill_id, absence_skill_id);
                        %>
                        <td class="align-middle text-center">
                            <% skills.forEach( function(mark) { %>
                                <% if (isCurrentMark(marks, lesson.id, student.id, item.skill_id, mark)) {%>
                                    <a href="<%=makeUrl(['groups', group.id, 'lessons', lesson.id, 'skill', item.skill_id], [lesson.id, student.id, item.skill_id])%>">
                                        <%=mark%>
                                    </a>
                                <% } %>
                            <% }) %>
                        </td>
                        <% }); %>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane" id="content_task">
        <div class="my-4">
            <% if(lesson.task) { %>
                <%= lesson.task %>
            <% } else { %>
                Нет задания.
            <% } %>
        </div>
    </div>
</div>
