<p>
    <%= formatDateShort(new Date(lesson.date)) %>
    <% if(lesson.time) { %>
        в <%= formatTime(lesson.time) %>
    <% } %>
    <% let remark = ''
    const flags = []
    if (lesson.is_distant) {
        flags.push('дистанционный')
    }
    if (lesson.is_control) {
        flags.push('контрольный')
    }
    if (flags.length) {
        remark = '(' + flags.join(', ') + ')';
    }
    if (lesson.is_distant) {
    %>
        <%= remark %>
    <% } %>
</p>

<% if(lesson.topic) { %>
    <p><b>Тема: </b><%= lesson.topic %></p>
<% } %>

<% if(lesson.task) { %>
    <p><b>Задание: </b><%= lesson.task %></p>
<% } %>

<p class="text-center">
    <a href="<%=makeUrl(['groups', group.id, 'lessons', lesson.id, 'edit'])%>"
       class="btn btn-light border-dark">Редактировать урок</a>
</p>

<ul id="menuTabs" class="nav nav-tabs">
    <li class="nav-item" id="marks">
        <a class="nav-link active" href="#">Выставление отметок</a>
    </li>
    <li class="nav-item" id="summary">
        <a class="nav-link" href="#">Сводка</a>
    </li>
    <li class="nav-item" id="reports">
        <a class="nav-link" href="#">Отчет</a>
    </li>
</ul>
<div class="tab-content tab-border">
    <div class="tab-pane active" id="content_marks">

        <% skillsets.forEach( function(item) { const is_absense_skill = item.skill_id === absence_skill_id; %>
        <div class="d-block d-md-inline-block my-4 mx-3 text-center">
            <a href="<%=makeUrl(['groups', group.id, 'lessons', lesson.id, 'skill', item.skill_id])%>"
               class="btn <%=is_absense_skill ? 'btn-light border-primary text-primary' : 'btn-primary'%>">
                <%= item.Skill.name %>
            </a>
        </div>
        <% }); %>

    </div>
    <div class="tab-pane" id="content_summary">
        <div class="table-responsive my-4 px-1">
            <table class="table table-striped table-bordered table-hover table-sm">
                <thead>
                <tr>
                    <th scope="col" class="align-middle">Ученики</th>
                    <% lesson.used_skills.forEach( function(item) { %>
                    <th scope="col" class="text-center skill-title">
                        <a href="<%=makeUrl(['groups', group.id, 'lessons', lesson.id, 'skill', item.skill_id])%>">
                            <%= item.Skill.name %>
                        </a>
                    </th>
                    <% }); %>
                </tr>
                </thead>
                <tbody>
                <% group.Students.forEach( function(student) { %>
                    <tr>
                        <th scope="row" class="align-middle">
                            <%= student.surname %>
                            <%= student.name %>
                        </th>
                        <% lesson.used_skills.forEach( function(skill) { %>
                        <td class="align-middle text-center <%= lesson.is_control ? 'font-weight-bold' : ''%>">
                            <% lesson.skill_marks[skill.skill_id].forEach( function(mark) { %>
                                <% if (lesson.hasMark(lesson.id, student.id, skill.skill_id, mark)) { %>
                                    <a href="<%= makeUrl(['groups', group.id, 'lessons', lesson.id, 'skill', skill.skill_id], [lesson.id, student.id, skill.skill_id]) %>">
                                        <%= mark %>
                                    </a>
                                <% } %>
                            <% }) %>
                        </td>
                        <% }) %>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane" id="content_reports">
        <div class="my-4 mx-3">
            <ul>
                <% quarters.forEach( function(quarter) {
                    let is_current_quarter = current_quarter_id && quarter.id === current_quarter_id
                %>
                <li>
                    <p class="<%= is_current_quarter ? 'font-weight-bold' : '' %>">
                        <% if(current_quarter_id && quarter.id <= current_quarter_id) { %>
                            <a href="<%= makeUrl(['groups', group.id, 'reports', 'quarter', quarter.id, 'subject', lesson.subject_id]) %>">
                                <%= quarter.name %>
                            </a>
                        <% } else { %>
                                <%= quarter.name %>
                        <% } %>

                    </p>
                </li>
                <% }); %>
            </ul>
        </div>

    </div>
</div>
