<p>
    <%= formatDateShort(new Date(lesson.date)) %>
    <% if(lesson.time) { %>
        <%= lesson.time %>
    <% } %>
</p>


<ul id="menuTabs" class="nav nav-tabs">
    <li class="nav-item" id="tab_1">
        <a class="nav-link active" href="#">Оценки</a>
    </li>
    <li class="nav-item" id="tab_2">
        <a class="nav-link" href="#">Задание</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="content_tab_1">

        <div class="table-responsive mt-4">
            <table class="table table-striped table-bordered table-hover table-sm">
                <thead>
                <tr>
                    <th scope="col" class="align-top">Ученики</th>
                    <% skillsets.forEach( function(item) { %>
                        <th scope="col" class="align-top"><%= item.Skill.name %></th>
                    <% }); %>
                </tr>
                </thead>
                <tbody>
                <% students.forEach( function(student) { %>
                    <tr>
                        <th scope="row" class="align-middle">
                            <%= student.surname %>
                            <%= student.name %>
                        </th>
                        <% skillsets.forEach( function(item) { %>
                            <td class="align-middle">
                                <select class="form-control form-control-sm"
                                        name="<%=lesson.id%>_<%=student.id%>_<%=item.skill_id%>">
                                    <% getMarksForSkill(item.skill_id).forEach( function(mark) { %>
                                        <option value="<%= mark%>"><%= mark%></option>
                                    <% }); %>
                                </select>
                            </td>
                        <% }); %>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </div>

    </div>
    <div class="tab-pane" id="content_tab_2">
        <h4>About</h4>
        <p>Detraxit consequat et quo num tendi nada. Per aumento de cachacis, eu reclamis. Si num tem leite
            então bota uma pinga aí cumpadi! Cevadis im ampola pa arma uma pindureta.</p>

    </div>
</div>
