<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="robots" content="noindex, nofollow"/>
    <title><%=title%></title>
    <base href="https://journal.strigo.ru"/>
    <style type="text/css" media="print">
        <%- styles %>
        @media print {
            @page {
                size: a4 <%=orientation%> !important;
            }
            html {
                zoom:<%=styles_zoom%>;
            }

            html, body, h1 {
                width: <%=width%>mm !important;
                min-width: <%=width%>mm !important;
                max-width: <%=width%>mm !important;
            }

            .table {
                max-width: <%=width%>mm !important;
            }

            .lesson-header {
                width: <%=cell_width%>mm !important;
                min-width: <%=cell_width%>mm !important;
                max-width: <%=cell_width%>mm !important;
            }

            .student-name {
                width: <%= 2 * cell_width%>mm !important;
                min-width: <%= 2 * cell_width%>mm !important;
                max-width: <%= 2 * cell_width%>mm !important;
            }
        }
    </style>
</head>
<body>
<% if(title) { %>
    <h1 class="mb-4"><%- hyphenateText(title) %></h1>
<% } %>
<%- body %>
<div id="pageFooter"></div>
</body>
</html>
